.no-activity{
	display:flex;
	flex-direction: column;
	text-align: center;
}
.no-activity-img{
	margin-top:2.053333rem;
	
	width:3.426667rem;
}

.no-activity-desc{
	margin-top:0.853333rem;
	margin-bottom:5.76rem;
	font-size:0.32rem;
	color:#323232;
}

.no-activity-footer{
	margin-bottom:1.76rem;
	font-size:0.32rem;
	color:#969696;
}