.address-list {
  margin-bottom: 1.106667rem;
}

.address-item {
  display: flex;
  font-size: 0.4rem;
  color: #323232;
  border-bottom: 1px solid #f5f5f9;
}
.address-item-l{
  flex: auto;
}

.receiver {
  margin: 0.4rem 1.493333rem;
}

.phone-num {
  color: #969696;
  margin-left: 0.4rem;
}

.address-item-b {
  display: flex;
  padding-bottom: 0.413333rem;
  font-size: 0.32rem;
      align-items: center;
}

.edit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  border-left: 1px solid #ccc;
  width: 1.733333rem;
  margin: 0.4rem 0;
}

.select-img {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0 0.2rem 0 0.64rem;
}
.btn-group{
	display:flex;
	justify-content: center;
}
.add {
  width: 3.733333rem;
  height: 1.066667rem;
  line-height: 1.066667rem;
  text-align: center;
  color:#fff;
  background-color: #e6a03c;
  border-radius: 0.133333rem;
}
